<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="assets/favicon\favicon.ico" type="img/x-ico">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <script type="text/javascript" src="../assets/script.js"></script>
    <title>Xhopii</title>
</head>
<body>
    
    <header>
        <img src="../assets/img/logo.png">
        <h1>Xhopii</h1>
    </header>
    <nav class="menu-horizontal">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="CadastroCliente.html">Cadastro Cliente</a></li>
            <li><a href="CadastrarFuncionario.html">Cadastro Funcionário</a></li>
            <li><a href="CadastrarProduto.html">Cadastro Produto</a></li>
            <li><a href="VerCliente.html">Ver Clientes</a></li>
            <li><a href="VerFuncionario.html">Ver Funcionários</a></li>
            <li><a href="VerProduto.html">Ver Produtos</a></li>
        </ul>
    </nav>
    <section class="produto-imagem">
        <section class="produto-miniatura">
            <img id="produto1" onclick="TrocarImg(this)" src="../assets/img/produto1.png">
            <img id="produto2" onclick="TrocarImg(this)" src="../assets/img/produto2.png">
            <img id="produto3" onclick="TrocarImg(this)" src="../assets/img/produto3.png">
            <img id="produto4" onclick="TrocarImg(this)" src="../assets/img/produto4.png">
            <img id="produto5" onclick="TrocarImg(this)" src="../assets/img/produto5.png">
        </section>
        <section class="produto-principal">
            <img id="imgPrincipal" src="../assets/img/produto1.png">
        </section>
    </section>

    <section class="produto-detalhes">
        <h1>Camisa Desenvolvedor Front-End CSS</h1>
        <h2 id="precoProduto">R$56,90</h2>
        <p id="qtdDisponivel" >171 peças dísponíveis</p>
        <p>Modelos:</p>
        <button class="botao" id="btnModeloPreto" onclick="TrocarImg(this)">Preto</button>
        <button class="botao" id="btnModeloAzul" onclick="TrocarImg(this)">Azul</button>
        <button class="botao" id="btnModeloVerde" onclick="TrocarImg(this)">Verde</button>
        <button class="botao" id="btnModeloCinza" onclick="TrocarImg(this)">Cinza</button>
        <button class="botao" id="btnModeloRosa" onclick="TrocarImg(this)">Rosa</button>

        <p>Tamanhos:</p>
        <button class="botao" id="btnTamanhoP" onclick="TrocarTamanho(this)">P</button>
        <button class="botao" id="btnTamanhoM" onclick="TrocarTamanho(this)">M</button>
        <button class="botao" id="btnTamanhoG" onclick="TrocarTamanho(this)">G</button>
        <button class="botao" id="btnTamanhoGG" onclick="TrocarTamanho(this)">GG</button>
        <p id="tamanhoSelecionado" >Tamanho Selecionado: P</p>
        <button id="botaoComprar">Comprar Agora</button>
    </section>
</body>
</html>