<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../assets/favicon\favicon.ico" type="img/x-ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="../assets/style.css">

    <script type="text/javascript" src="../assets/script.js"></script>

    <title>xhopii</title>
</head>

<body class="tela-login">

    <header class="header-login">
        <img class="img-header-login" src="../assets/img/logo.png">
        <h1 class="h1-logo-login">Xhopii</h1>
        <h1 class="h1-header-login">Entre</h1>
        <a class="btn-precisa-ajuda"><p class="btn-precisa-ajuda">Precisa de ajuda?</p></a>
    </header>

    <section class="forms-login">
        <h3 class="titulo-forms-login">Login</h3>
        <input class="forms" type="text" id="login" placeholder="Login">
        <input class="forms" type="password" id="senha" placeholder="Senha">
        <a href="../Index.html"><button class="forms-btn-entrar" href="../Index.html">ENTRE</button></a>

        <section class="recuperacao-conta">


            <a calss="recuperacao" href="RedefinirSenha.html"><p class="recuperacao">Esqueci minha senha</p></a>
            <p class="recuperacao">Fazer login com SMS</p>
        </section>
        
        <section class="divisoria">
            <section class="linha-divisoria">
                <hr/>
            </section>
            <section class="text-divisoria">
                <p>OU</p>
            </section>
            <section class="linha-divisoria">
                <hr/>
            </section>
        </section>
            
        <section class="tipos-alternativos">
            
            <section class="alternativa">
                <img class="img-alternativa" src="../assets/img/facebook-img-color.png">
                <p class="p-alternativa">Facebook</p>
            </section>

            <section class="alternativa">
                <img class="img-alternativa" src="../assets/img/google-img-color.png">
                <p class="p-alternativa">Google</p>
            </section>

            <section class="alternativa">
                <img class="img-alternativa" src="../assets/img/apple-img-color.png">
                <p class="p-alternativa">Apple</p>
            </section>

        </section>
        <h5 class="legenda-redirecionar">Novo na Xhopii? <a class="redirecionar-cadastro" href="CadastrarCliente.html">Cadastrar</a></h5>

        
    </section>

    


    <footer class="rodape">
        <section class="rodape-divisao">
            <h3>ATENDIMENTO AO CLIENTE</h3>
            <br>
            <a class="text-footer">
                <p>Central de ajuda</p>
                <p>Como comprar</p>
                <p>Métodos de pagamento</p>
                <p>Garantia Xhopii</p>
                <p>Devolução e reembolso</p>
                <p>Fale conosco</p>
                <p>Ouridoria</p>
            </a>
        </section>

        <section class="rodape-divisao">
            <h3>SOBRE A XHOPII</h3>
            <br>
            <a class="text-footer">
                <p>Sobre Nós</p>
                <p>Políticas Xhopii</p>
                <p>Política Privacidade</p>
                <p>Programa de Aliados da Xhopii</p>
                <p>Seja um Entregador XHopii</p>
                <p>Ofertas Relâmpago</p>
                <p>Xhopiii Blog</p>
                <p>Impresa</p>
            </a>
        </section>

        <section class="rodape-divisao">
            <h3>PAGAMENTOS</h3>
            <section class="rodape-img-pagamento">
                <section class="grid-container">
                    <section class="grid-item"> <img src="../assets/img\pix-img.jpg"> </section>
                    <section class="grid-item"> <img src="../assets/img\boleto-img.jpg"> </section>
                    <section class="grid-item"> <img src="../assets/img\americanExpress-img.png"> </section>
                    <section class="grid-item"> <img src="../assets/img\visa-img.png"> </section>
                    <section class="grid-item"> <img src="../assets/img\mastercard-img.jpg"> </section>
                    <section class="grid-item"> <img src="../assets/img\hipercard-img.jpg"> </section>
                    <section class="grid-item"> <img src="../assets/img\elo-img.png"> </section>
                </section>
            </section>
        </section>



        <section class="rodape-divisao">
            <h3>SIGA-NOS</h3>
            <section class="rodape-img-socialmedia">
                <br>
                <img src="../assets/img\instagram-img.jpg">
                <p class="txt-socialmedia">Instagram</p>
                <img src="../assets/img\twitter-img.png">
                <p class="txt-socialmedia">Twitter</p>
                <img src="../assets/img\facebook-img.png">
                <p class="txt-socialmedia">Facebook</p>
                <img src="../assets/img\youtube-img.png">
                <p class="txt-socialmedia">You-Tube</p>
                <img src="../assets/img\linkedin-img.png">
                <p class="txt-socialmedia">Linkedin</p>
            </section>
        </section>

        <section class="rodape-divisao">
            <h3>ATENDIMENTO AO CLIENTE</h3>
            <br>
            <img class="img-qrcode" src="../assets/img\qrcode.jpg">
            <section class="rodape-img-atendimento">

                <section src="../assets/img\googleplay-img.png">
                <br>
                <img src="../assets/img\applestore-img.png">
            </section>
        </section>
        <section class="footer-copyright"></dsectioniv>
        <br>
        <section class="copyright">&copy; 2026 Xhopii. Todos os direitos reservados </section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>