<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="../assets/favicon\favicon.ico" type="img/x-ico">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../assets/style.css" />

  <script type="text/javascript" src="../assets/script.js"></script>

  <title>Xhpope</title>
</head>
<body class="ver-produto">
  <header>
    <img src="../assets/img/logo.png">
    <h1>Xhopii</h1>
    <a class="btn-sair" href="Login.html"><p class="btn-sair">Sair</p></a>
  </header>
  <nav class="menu-horizontal">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="CadastroCliente.html">Cadastro Cliente</a></li>
        <li><a href="CadastrarFuncionario.html">Cadastro Funcionário</a></li>
        <li><a href="CadastrarProduto.html">Cadastro Produto</a></li>
        <li><a href="VerCliente.html">Ver Clientes</a></li>
        <li><a href="VerFuncionario.html">Ver Funcionários</a></li>
        <li><a href="VerProduto.html">Ver Produtos</a></li>
    </ul>
</nav>

  <section class="section-produtos">
    <h3>PRODUTOS</h3>
    <a href="../index.html">
      <div class="grade-camisetas">
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
  
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
  
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
  
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
  
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
  
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
  
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
  
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
  
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
        <div class="camiseta">
          <div class="img">
            <img src="../assets/img/produto1.png" alt="" />
          </div>
          <p>Camisa Desenvolvedor Front-End CSS</p>
          <br />
          <div class="info1">
            <b>Fabricante: </b>
            <p>Eletiva Uniformes</p>
          </div>
          <br />
          <div class="info2">
            <b>Descrição: </b>
            <p>Uma Camisa ideal para programar por mais de 12 horas</p>
          </div>
          <br />
          <div class="info3">
            <b>R$ 59,90</b>
            <p>171 disponíveis</p>
          </div>
        </div>
      </div>
    </a>
  </section>
  
  <footer class="rodape">
    <div class="rodape-divisao">
      <h3>ATENDIMENTO AO CLIENTE</h3>
      <br>
      <a class="text-footer">
        <p>Central de ajuda</p>
        <p>Como comprar</p>
        <p>Métodos de pagamento</p>
        <p>Garantia Xhopii</p>
        <p>Devolução e reembolso</p>
        <p>Fale conosco</p>
        <p>Ouridoria</p>
      </a>
    </div>
  
    <div class="rodape-divisao">
      <h3>SOBRE A XHOPII</h3>
      <br>
      <a class="text-footer">
        <p>Sobre Nós</p>
        <p>Políticas Xhopii</p>
        <p>Política Privacidade</p>
        <p>Programa de Aliados da Xhopii</p>
        <p>Seja um Entregador XHopii</p>
        <p>Ofertas Relâmpago</p>
        <p>Xhopiii Blog</p>
        <p>Impresa</p>
      </a>
    </div>
  
    <div class="rodape-divisao">
      <h3>PAGAMENTOS</h3>
      <div class="rodape-img-pagamento">
        <div class="grid-container">
          <div class="grid-item"> <img src="../assets/img\pix-img.jpg"> </div>
          <div class="grid-item"> <img src="../assets/img\boleto-img.jpg"> </div>
          <div class="grid-item"> <img src="../assets/img\americanExpress-img.png"> </div>
          <div class="grid-item"> <img src="../assets/img\visa-img.png"> </div>
          <div class="grid-item"> <img src="../assets/img\mastercard-img.jpg"> </div>
          <div class="grid-item"> <img src="../assets/img\hipercard-img.jpg"> </div>
          <div class="grid-item"> <img src="../assets/img\elo-img.png"> </div>
        </div>
      </div>
    </div>
    <div class="rodape-divisao">
      <h3>SIGA-NOS</h3>
      <div class="rodape-img-socialmedia">
        <br>
        <img src="../assets/img\instagram-img.jpg">
        <p class="txt-socialmedia">Instagram</p>
        <img src="../assets/img\twitter-img.png">
        <p class="txt-socialmedia">Twitter</p>
        <img src="../assets/img\facebook-img.png">
        <p class="txt-socialmedia">Facebook</p>
        <img src="../assets/img\youtube-img.png">
        <p class="txt-socialmedia">You-Tube</p>
        <img src="../assets/img\linkedin-img.png">
        <p class="txt-socialmedia">Linkedin</p>
      </div>
    </div>
  
    <div class="rodape-divisao">
      <h3>ATENDIMENTO AO CLIENTE</h3>
      <br>
      <img class="img-qrcode" src="../assets/img\qrcode.jpg">
      <div class="rodape-img-atendimento">
  
        <img src="../assets/img\googleplay-img.png">
        <br>
        <img src="../assets/img\applestore-img.png">
      </div>
    </div>
    <div class="footer-copyright"></div>
    <br>
    <div class="copyright">&copy; 2026 Xhopii. Todos os direitos reservados </div>
  </footer>

</body>
</html>
